.header {
    display: flex;
    background: white;
    border-bottom: 0.25rem solid plum;
    justify-content: space-between;
}

.header-title {
    color: plum;
    margin-left: 1rem;
    font-family: "Novecento Wide";
    font-size: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 1rem;
    font-size: 32px;
}

.menu-container {
    float: right;
}

.menu-container ul {
    list-style-type: none;
    margin: 0;
}
 
.menu-container li {
    float: left;
    height: inherit;
    align-items: center;
    display: flex;
}
 
.menu-container li a {
    color: black;
    font-family: "MiSans";
    text-decoration: none;
}
 
/*鼠标移动到选项上修改背景颜色 */
.menu-container li:hover {
    background-color: #b6ade6;
}


.menu-container li {
    padding: 1em;
}